<!DOCTYPE html>
<html>
	<head>
		<%if (locals.title) { %>
			<title><%= title %></title>
		<% } else { %>
			<title><%= message %></title>
		<% } %>

		<% include partials/stylesheets.ejs %>
		<% include partials/scripts.ejs %>
	</head>
	<body class="error">

		<h1>
			<%= message %>
		</h1>

		<%if (locals.error) { %>
			<h2><%= error.status %></h2>
			<pre><%= error.stack %></pre>
		<% } %>
		

	</body>
</html>
